/*
============================================
CSS Graden Design File by Me DB
============================================
1 color
2 layout
3 font
4 

*/

html{
    background-color: hsla(189, 71%, 69%, 0.6);
    padding: 5%;
}

body{
    background-color: hsla(175, 50%, 69%, 0.5);
    padding: 5%;
}

div.preamble, div.requirements, div.benefits{

color: hsla(180, 0%, 25%, 0.9);
background-color: white;

}

header h1{
    background-color: hsla(0, 89%, 30%, 0.9);
}

footer{
    background-color: hsla(20, 99%, 30%, 0.7);
}

div.participation{
    background-color: hsla(15, 75%, 45%, 0.9);
}

aside.sidebar{
    background-color: hsla(189, 71%, 69%, 0.6);
}

div,article,section,header,nav,figure,line{
    position: relative;
    
}

header h1{
    position:relative;
    left: 100px;
}

aside.sidebar{
    position: absolute;
    top: 3%;
    right: 0;
    width: 25%;
}

footer{
    position: fixed;
    width: 30%;
    left: 30%;
    bottom: 0px;
}

section.intro{
    width: 50%;
}

div.explanation{
    width: 40%;
    padding: 6%;
    float: left;
}

div.participation{
    margin-left: 50%;
    width: 50%;
}

div.benefits{
    float: 20%;
    margin-right: 50%;
    width: 50%;
    top: 55px;
}

div.requirements{
    float: 10%;
    margin-left: 50%;
    width: 50%;
    top: -250.5px;
}

body{
    font-family: 'Franklin Gothic Small', 'Arial Narrow', Arial, sans-serif;
    text-indent: 0%;
    background-image: url();
}
a{
    text-decoration: none;
    color: #000;
}
@font-face {
    font-family: 'myfont';
    src: url('');
}

/*
section.intro div.preamble{
    margin: 50%;
    padding: 5%,2%,4%,10%;
}
*/

#zen-resources{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: aquamarine;
}

#zen-resources h3{
    display: none;
}

#zen-resources ul li{
    display: inline-block;
    list-style-type: none;
}

p:active{
    border: hsla(0, 89%, 30%, 0.9) 5px solid;
}

h3:active+p{
    visibility: hidden;
}

li:first-of-type{
    color: aquamarine;
}

p::first-letter{
    font-size: 100%;
    text-transform: uppercase;
}

p:nth-child(3n+2){
    background-color: hsla(189, 71%, 69%, 0.6);
}